<header class="header">
  <nav class="header-nav">
    <ul class="header-item-list">
      <li class="header-item"><a href="/">List Users</a></li>
      <li class="header-item"><a href="/forUsers/add-users">Add users</a></li>
      <li class="header-item"><a href="/list-products"> List Products</a></li>
      <li class="header-item"><a href="/forProducts/add-products">Add Products</a></li>
      <li class="header-item"><a href="/list-lesson">List Lesson</a></li>
      <li class="header-item"><a href="/forLesson/add-lesson">Add Lesson</a></li>
      <li class="header-item"><a href="">Log out</a></li>
    </ul>
  </nav>
</header>