<main style="display: flex; flex-direction:column; align-items: center">
  <h1>Add Lesson</h1>
  <form
    action="/forLesson/postLesson"
    method="post"
    style="display: flex;  flex-direction:column;"
  >
    <label for="">
        Lesson name
        <input type="text" name="dars" id="" required />
    </label>
     <label for=""> 
        Image
        <input type="file" name="rasm" id="" />
    </label>
    <label for=""> 
         Date
        <input type="date" name="vaqt" id="" />
        <button type="submit">Submit</button>
    </label>
  </form>
</main>