<main>
    <div class="container-product">
         <h1>Add Products</h1>
         <form action="/forProducts/postProducts" method="POST" class="formWrapper">
             <label for=""> Product: <input type="text" name="mahsulot" required></label>
             <label for=""> Price: <input type="number" name="narx" required> 
             <button type="submit">Submit</button></label>
         </form>
    </div>
</main>